<#include "security.ftl">
<#import "login.ftl" as l>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="/">RecipeBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/welcome">Welcome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create-recipe">New Recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myRecipes">My Recipes</a>
            </li>
<#--               <#if isAdmin>-->
<#--            <li class="nav-item">-->
<#--                <a class="nav-link" href="/user">Users List</a>-->
<#--            </li>-->
<#--               </#if>-->
        </ul>

        <div class="navbar-text mr-3">${name}</div>
        <#if name !="unknown"><@l.loguot "logout"/></#if>

    </div>
</nav>